<% content_for :head do %>
  <title>Yamitzky is watching you.</title>
<% end%>

<h1>Yamitzky is watching you.</h1>
<p>I'm 小笠原 みつき(Yamitzky), an all-round developer.
<p><%= image_tag "yamitzky.png" %>
<ul>
  <li><a href="https://twitter.com/yamitzky">twitter</a>
  <li><a href="https://facebook.com/mitsuki.oga">facebook</a>
  <li><a href="http://d.hatena.ne.jp/yamitzky/">blog</a>
  <li><a href="http://yamitzky.tumblr.com/">tumblr</a>
  <li><a href="http://jsdo.it/yamitzky">jsdo.it</a>
  <li>mail: negiga@gmail.com
</ul>
<h2>Skill List</h2>
<ul>
  <li>HTML/CSS
  <li>Javascript
  <li>Ruby(with on Rails)
  <li>ちょっとだけ server setup
</ul>
