<% content_for :head do %>
  <title>Yamitzky is watching you.</title>
<% end%>

<h1>Yamitzky is watching you.</h1>
<p>I'm 小笠原 みつき(Yamitzky), a developer.
<p><%= image_tag "yamitzky.png" %>
<ul>
  <li><a href="https://twitter.com/yamitzky">twitter</a>
  <li><a href="https://facebook.com/mitsuki.oga">facebook</a>
  <li><a href="http://d.hatena.ne.jp/yamitzky/">blog</a>
  <li><a href="http://yamitzky.tumblr.com/">tumblr</a>
  <li><a href="https://github.com/yamitzky">github</a>
  <li><a href="http://jsdo.it/yamitzky">jsdo.it</a>
  <li>mail: negiga@gmail.com
</ul>
<h2>Skill List</h2>
<ul>
  <li>HTML/CSS
  <li>Javascript
  <li>Ruby(with on Rails)
  <li>Webアプリケーションの脆弱性探し
  <li>ちょっとだけ server setup
  <li>下ネタ
</ul>
<h2>Garbage applications</h2>
<ul>
  <li><a href="./fake_3d/">iPhoneの加速度センサーを使った3D表現</a>
  <li><a href="./noise_reduction/">バネ・ダンパーを使ったモデルによるiPhoneの加速度センサーのノイズ低減</a>
  <li><a href="http://panchila-mitzky.dotcloud.com/">HTMLパンチラ</a>
  <li><a href="./eyes/">追いかけてくる、(iPhone用)</a>
</ul>
<h2>Works(公開中のもの、公開できるものを時系列で)</h2>
<ul>
	<li><a href="http://potential.6.ql.bz/" target="_blank">Potential</a>(website, design, game)</li>
	<li><a href="http://re-campus.s5.pf-x.net/" target="_blank">Re:Campus</a>(website, design)</li>
	<li><a href="https://waseda-calendar.appspot.com/" target="_blank">早稲カレ</a></li>
	<li><a href="http://misw.jp/new/" target="_blank">MIS.W</a>(design)</li>
	<li><a href="http://gakukon.com/" target="_blank">ガクコン</a>(website, design, cms-system)</li>
	<li><a href="http://yamitzky.com/" target="_blank">Here</a>(website, design, server)</li>
</ul>
